@import '@styles/variables.scss';
@import '@styles/medias.scss';

.wrapper {
    width: 100%;
    margin: 2rem 0;
    border: 0;
    height: 0.1rem;
    background: black;
}

.light {
    background: white;
}