@import '@styles/variables.scss';
@import '@styles/medias.scss';

.wrapper {
    max-width: 100%;
    background: transparent;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    border: 0.1rem solid black;
    transition: background 0.1s ease-in-out;

    &:hover {
        background: orange;
    }
}

.fullWidth {
    width: 100%;
    display: block;
}

.disabled {
    cursor: not-allowed;
}