@import '@styles/variables.scss';
@import '@styles/medias.scss';

.wrapper {
    font-size: 1.8rem;
    padding: 2rem 0;
    background: lightgrey;
    margin-bottom: 2rem;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;

        li {
            padding: 1rem;

            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}