/**
* Medias
*/

$layout-xs-only: 'max-width: 767px';
$layout-sm-only: 'min-width: 768px) and (max-width: 1099px';
$layout-md-only: 'min-width: 1100px) and (max-width: 1599px';
$layout-lg-only: 'min-width: 1600px';

$layout-gte-sm: 'min-width: 768px';
$layout-gte-md: 'min-width: 1100px';

$layout-lte-sm: 'max-width: 1099px';
$layout-lte-md: 'max-width: 1599px';
