.wrapper {
    padding: 2rem 0;
    background: lightgrey;

    ul {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 30rem;
        max-width: 80vw;
    }
}